footer {
	margin-top: 20px;
	padding-top: 40px;
	border-top: 1px solid rgb(247, 247, 247);
	border-bottom: 1px solid rgb(247, 247, 247);
	background-color: rgb(255, 255, 255);
}

footer .footer-container {
	display: flex;
	justify-content: space-between;
}

footer h4 {
	margin: 0px 0px 17px;
	color: rgb(51, 51, 51);
	font-size: 13px;
	font-weight: 600;
	font-stretch: normal;
	text-transform: uppercase;
}

footer .f-block {
	margin: 0px 0px 17px;
	color: rgb(51, 51, 51);
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
}

footer .f-block .store-title {
	margin-top: 64px;
}

footer .f-block p img.icon {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 7px;
}

footer .f-block p.pttt {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

footer .hotline {
	margin-bottom: 10px;
	color: rgb(196, 1, 26);
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

footer .hotline a {
	color: rgb(196, 1, 26);
	font-size: 14px;
	font-weight: 600;
}

footer .small-text {
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	color: rgb(51, 51, 51);
	font-size: 12px;
	font-weight: normal;
}

footer .footer2-contatiner {
	margin-top: 10px;
}

footer .footer3-container h5 {
	font-weight: bold;
}

footer .footer3-container h5,
p {
	font-size: 12px;
}

footer .footer-mobile {
	display: none;
}